%h1 Listing bonus_schemes

%table
  %tr
    %th Reason
    %th Value
    %th
    %th
    %th

  - @bonus_schemes.each do |bonus_scheme|
    %tr
      %td= bonus_scheme.reason
      %td= bonus_scheme.value
      %td= link_to 'Show', bonus_scheme
      %td= link_to 'Edit', edit_bonus_scheme_path(bonus_scheme)
      %td= link_to 'Destroy', bonus_scheme, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Bonus scheme', new_bonus_scheme_path
